.custinfo{
    font-size: 14px;
    margin-left: 4rem;
    position: absolute;
    top: 40px;
    width: 80rem;
    margin-top: 40px;
}

.basic-details{
    overflow: scroll;
    height: 27rem;
    width: 100%;
    max-width: 100%;
}

.basic-details-edit {
    overflow: scroll;
    height: 33rem;
    position: absolute;
    top: 6rem;
    left: 4rem;
    width: 95%;
    max-width: 100%;
}

.edit-dropdown {
    width: 40rem;
    position: relative;
    left: 15rem;
}

.tick{
    font-size: 20px;
    color: green;
}

.cross{
    font-size: 20px;
    color: red;
}

.section-spacer{
    border-bottom: groove;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #675cb8;
}

.modepage{
    position: absolute;
    top: 8rem;
    left: 4rem;
    width: 80rem;
}

.modepage-text{
    font-size: 15px;
    width: 100%;
}

.input{
    height: 25px;
}

.page-buttons{
    --bs-btn-bg: #675cb8;
}

.edit-dropdown-width{
    width: 18rem;
}

.edit-button{
    margin-left: 45%;
}

.page-button{
    width: 15rem;
}