.custinfo{
    font-size: 14px;
    margin-left: 4rem;
    position: absolute;
    top: 40px;
    width: 80rem;
    margin-top: 40px;
}

.basic-details{
    overflow: scroll;
    height: 27rem;
}

.tick{
    font-size: 20px;
    color: green;
}

.cross{
    font-size: 20px;
    color: red;
}

.section-spacer{
    border-bottom: groove;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #675cb8;
}

.modepage{
    position: absolute;
    top: 8rem;
    left: 4rem;
    width: 80rem;
}

.modepage-text{
    font-size: 15px;
    width: 100%;
}

.input{
    height: 25px;
}

.page-buttons{
    --bs-btn-bg: #675cb8;
}