.sidebar-main{
    margin-top: 6vh;
    height: 94vh; 
    background-color: black; 
    width: 18rem;
    /* width: 3rem; */
}

.sidebar-text{
    /* display: none; */
}

.sidebar-secondary{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 15rem;
    height: 90%;
    font-size: 13px;
    display: none;
}

.sidebar-transactions{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 15rem;
    max-height: 90%;
    overflow: scroll;
    font-size: 13px;
    display: none;
}

.link{
    text-decoration: none;
}
